@use "styles/media" as *;

@property --length {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 0%;
}

.Button {
  position: relative;
  background-color: var(--color-main-alt);
  border-radius: var(--border-radius-small);
  color: var(--color-foreground);
  border: none;
  cursor: pointer;
  padding-block: 10px;
  padding-inline: 20px;

  &::before {
    position: absolute;
    z-index: -1;
    content: '';
    inset: -3px;
    border-radius: calc(var(--border-radius-small) + 3px);
    background: conic-gradient(var(--color-accent) var(--length), transparent 0);
    transition: --length calc(var(--transition-duration));
  }

  @include hover {
    &::before {
      --length: 100%;
    }
  }

  &:disabled {
    opacity: 0.5;
    cursor: unset;
    &::before {
      content: none;
    }
  }

  &_outlined {
    background-color: var(--color-foreground);
    color: var(--color-main);
  }
}