@property --length {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 0%;
}

.Loader {
  height: 100%;
  aspect-ratio: 1;
  position: relative;
  background: conic-gradient(var(--color-accent) var(--length), transparent 0);
  border-radius: 50%;
  animation: spinLoader linear 0.8s infinite, lengthChange ease 1.78s infinite alternate;

  &:after {
    position: absolute;
    background: var(--color-main);
    inset: 5px;
    content: "";
    border-radius: 50%;
  }

  &__container {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    margin-block: var(--section-padding-y);
  }
}

@keyframes spinLoader {
  from{
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes lengthChange {
  from{
    --length: 10%;
  }
  to{
    --length: 70%;
  }
}