.PopupButton {
  position: relative;

  &__button {

    &::after {
      content: '';

      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translate(-50%, 21px);

      width: 0;
      height: 0;
      border-left: 16px solid transparent;
      border-right: 16px solid transparent;

      border-bottom: 16px solid var(--color-main-alt);

      opacity: 0;
      transition: opacity var(--transition-duration);
    }

    &_visible {
      &::after {
        opacity: 1;
      }
    }
  }

  &__popup {
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translateY(calc(100% + 20px));

    background-color: var(--color-main-alt);
    border-radius: var(--border-radius);
    padding: 10px;

    min-width: 100%;
    width: auto;
    text-wrap: nowrap;
    transform-origin: 0;

    animation: scaleAnimation var(--transition-duration) linear;
    transition: opacity var(--transition-duration);

    &_exit {
      opacity: 0;
    }
  }
}

@keyframes opacityAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes unscaleAnimation {
  from {
    scale: 1;
  }
  to {
    scale: 0;
  }
}