@use "styles/mixins" as *;
@use "styles/media" as *;

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: var(--color-main-alt);
  padding: 14px;
  z-index: 1;
  display: flex;
  justify-content: start;

  &_mobile {
    justify-content: end;
  }

  &__logo {
    width: auto;
    z-index: 1;

    @include mobile {
      width: 100%;
    }
  }

  &__navbarContainer {
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}