@use "styles/media" as *;
@use "styles/mixins" as *;

.main {
  min-height: 100vh;
  padding-bottom: var(--section-padding-y);

  &__container {
    margin-top: var(--header-heigth);
    max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
    width: 100%;
    min-height: calc(100vh - var(--header-heigth));
    margin-inline: auto;
    padding-inline: var(--container-padding-x);
  }
}

.footer {
  height: 30vh;
  background-color: var(--color-main-alt);
}