@use "styles/media" as *;
@use "styles/mixins" as *;

.main {
  @include flex-center;
  height: 100vh;

  &__container {
    margin-top: var(--header-heigth);
    max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
    width: 100%;
    margin-inline: auto;
    padding-inline: var(--container-padding-x);
  }
}

.footer {
  height: 30vh;
  background-color: var(--color-main-alt);
}