@use "styles/media" as *;

.Page {
  &__title {
    padding-block: var(--spacing);
  }
}

.Information {
  display: flex;
  flex-direction: row;
  gap: var(--spacing);

  @include mobile-s {
    flex-direction: column;
  }

  &__carousel {
    width: 40%;

    @include tablet {
      width: 50%;
    }

    @include mobile-s {
      width: 100%;
    }
  }

  &__details {
    display: flex;
    flex-direction: column;
  }

  &__order {
    display: flex;
    flex-direction: column;
    gap: var(--spacing);
  }
}

.Order {
  &__keyboard {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: space-between;
    padding: 10px;

    @include mobile-s {
      flex-direction: column;
    }
  }
}

.Components {
  &__title {
    text-align: center;
    margin-block: var(--spacing);
  }
}